html, body {
  height: 100%;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
}

.landing-left {
  left: 0;
  position: fixed;
  width: 30vw;
  background-color: #98c398;
  height: 100%;
}

.landing-right {
  position: fixed;
  color: #222;
  width: 70vw;
  height: 100%;
}

.personal-card {
  color: #222;
  display: flex;
  flex-direction: column;
  background-color: #e2f3e2;
  height: 600px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
  min-width: 350px;
  h2 {
    color: #222;
    margin: 0;
  }
}

.personal-card-main {
  flex: 4;
  display: flex;
  margin: 3em 0;
  justify-content: center;
}

.personal-card-icon {
  border-radius: 50%;
}

.personal-card-title {
  flex: 2;
  text-align: center;
  h4 {
    font-weight: 300;
    margin: 1em;
    color: #222;
  }
}

.personal-card-name {
  flex: 3;
  text-align: center;
  vertical-align: middle;
  h2 {
    font-size: 2em;
  }
}

.personal-card-bottom {
  flex: 1;
  background-color: #e5c07b;
  max-height: 50px;
  display: flex;
  .socialmedia-icons {
    display: flex;
    margin: auto;
    top: 50%;
    justify-content: space-around;
    min-width: 60%;
    max-width: 80%;
    a {
      color: inherit;
      transition: color 0.15s;
      &:hover {
        color: lighten(#222, 10%);
      }
    }
  }
}

.separate {
  width: 60px;
  display: inline-block;
  border-top: 3px solid #61afef;
}

.self-intro {
  text-align: left;
  margin-left: 3em;
  margin-right: 3em;
  width: 700px;
  h1 {
    font-size: 3em;
    margin-bottom: 0;
  }
  h2 {
    font-weight: 400;
  }
}

.main-content {
  display: flex;
  position: absolute;
  margin: 4em auto;
  padding: 2em;
}

.codeblock-wrapper {
  margin-top: 3em;
}

.codeblock {
  text-align: left;
  white-space: pre-wrap;
  min-width: 700px;
  &:after {
    content: "|";
    color: #61afef;
    animation: blink 1s step-start 0s infinite;
    -webkit-animation: blink 1s step-start 0s infinite;
  }
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  button {
    text-align: center;
    vertical-align: middle;
    line-height: 2em;
    padding: 0 1.5em;
    font-weight: 500;
    background-image: none;
    border: 1px solid #222;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-color: rgba(29, 111, 197, 0.5);
    color: #eee;
    border-radius: 1.75em;
    &:hover {
      background-color: lighten(rgba(29, 111, 197, 0.5), 10%);
    }
    &:focus {
      outline: 0;
    }
  }
}

.highlight-const {
  color: #c678dd;
}

.highlight-variable {
  color: #e5c07b;
}

.highlight-equalsign {
  color: #56b6c2;
}

.highlight-key {
  color: #e06c75;
}

.highlight-string {
  color: #98c398;
}

@-webkit-keyframes blink {
  50% {
    opacity: 0.0;
  }
}

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}

#typer-wrapper {
  min-height: 250px;
}

#typer {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.9em;
  display: inline;
}


// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .landing-left {
    display: none;
  }
  .landing-right {
    display: none;
  }
  .main-content {
    flex-direction: column;
    padding: 0;
    margin-top: 0;
  }
  .personal-card {
    max-width: 80%;
    margin: 0 auto;
  }
  #typer {
    max-width: 90%;
  }
  h2 {
    margin-top: 1em;
  }
  .self-intro {
    margin-left: 1em;
    margin-right: 1em;
    max-width: 90%;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  .self-intro {
    width: auto;
  }
}