$drawer-width: 250px;

.drawer-wrapper {
  position: fixed;
  top: 0;
  display: flex;
  left: -$drawer-width;
  z-index: 100;
}

.drawer {
  height: 100vh;
  width: $drawer-width;
  transition: 0.3s;
  background-color: #333;
  display: flex;
  ul {
    list-style: none;
    margin: auto;
    li {
      font-size: 1.5em;
      margin: 1.5em 1em;
      font-family: 'Courier New', Courier, monospace;
    }
  }
}

.drawer-button {
  display: flex;
  top: calc(50% - 80px);
  width: 30px;
  height: 80px;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  background-color: #222;
  margin: auto;
  &:hover {
    cursor: pointer;
  }
}

.drawer-open {
  margin-left: $drawer-width;
}

#arrow {
  margin: auto;
}

#burger {
  margin-left: 1em;
  margin-top: 0.8em;
}

#nav-hover-selector {
  font-size: 1.5em;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 25px;
  height: 20px;
  left: 1.5em;
  top: 1em;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #aaa;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: darken(#aaa, 10%);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #aaa;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  font-family: 'Courier New', Courier, monospace;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  list-style: none;
  &:focus {
    outline: none;
  }
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  width: 100vw;
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .drawer-button {
    display: none;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .drawer-button {
    display: none;
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {}