$drawer-width: 250px;

.drawer-wrapper {
  position: fixed;
  display: flex;
  left: -$drawer-width;
  z-index: 100;
}

.drawer {
  height: 100vh;
  width: $drawer-width;
  transition: 0.3s;
  background-color: #333;
  display: flex;
  ul {
    list-style: none;
    margin: auto;
    li {
      font-size: 1.5em;
      margin: 1.5em 1em;
      font-family: 'Courier New', Courier, monospace;
    }
  }
}

.drawer-button {
  display: flex;
  top: calc(50% - 80px);
  width: 30px;
  height: 80px;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  background-color: #222;
  margin: auto;
  &:hover {
    cursor: pointer;
  }
}

.drawer-open {
  margin-left: $drawer-width;
}

#arrow {
  margin: auto;
}

.burger-nav {
  width: 100vw;
}

#burger {
  margin-left: 1em;
  margin-top: 0.8em;
}

#nav-hover-selector {
  font-size: 1.5em;
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .drawer-button {
    display: none;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .drawer-button {
    display: none;
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {}